/* BAGIAN-NAVBAR */

.navbar {
  background-image: url(img/navbar.jpg);
  background-size: cover;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

.navbar-brand {
  font-family: 'Padauk', sans-serif;
  font-size: 30px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  color: white !important;
}

.nav-link {
  font-family: 'Padauk', sans-serif;
  font-size: 18px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  color: white !important;
}

.container-fluid img {
  border-radius: 50%;
  height: 70px;
  margin-right: 10px;
}

/* AKHIR BAGIAN NAVBAR */

/* ========================= */
/* ========================= */

/* BAGIAN SATU */

#bagian-satu {
  background-color: forestgreen;
}

#bagian-satu h1 {
  font-family: 'Padauk', sans-serif;
  font-size: 40px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

#bagian-satu img {
  border-radius: 50%;
  height: 250px;
}

/* AKHIR BAGIAN SATU */

/* ========================= */
/* ========================= */

/* BAGIAN DUA */

#bagian-dua {
  background-color: forestgreen;
}

#bagian-dua h1 {
  font-family: 'Padauk', sans-serif;
  font-size: 40px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  margin-top: 100px;
}

#bagian-dua p {
  text-transform: capitalize;
  font-family: 'Padauk', sans-serif;
  font-size: 21px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

/* AKHIR BAGIAN DUA */

/* ========================= */
/* ========================= */

/* BAGIAN TIGA */

#bagian-tiga {
  background-color: forestgreen;
}

#bagian-tiga h1 {
  font-family: 'Padauk', sans-serif;
  font-size: 40px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  margin-top: 100px;
}

#bagian-tiga p {
  text-transform: capitalize;
  font-family: 'Padauk', sans-serif;
  font-size: 21px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

/* AKHIR BAGIAN TIGA */

/* ========================= */
/* ========================= */

/* BAGIAN EMPAT */

#bagian-empat {
  background-color: forestgreen;
}

#bagian-empat h1 {
  font-family: 'Padauk', sans-serif;
  font-size: 40px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  margin-top: 100px;
}

#bagian-empat p {
  text-transform: capitalize;
  font-family: 'Padauk', sans-serif;
  font-size: 21px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}
