/* BAGIAN-NAVBAR */

.navbar {
  background-image: url(img/navbar.jpg);
  background-size: cover;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

.navbar-brand {
  font-family: 'Padauk', sans-serif;
  margin-left: -3px;
  font-size: 25px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  color: white !important;
}

.nav-link {
  font-family: 'Padauk', sans-serif;
  font-size: 18px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  color: white !important;
}

.container-fluid img {
  border-radius: 50%;
  height: 35px;
  margin-right: 10px;
}

/* AKHIR BAGIAN NAVBAR */

/* ========================= */
/* ========================= */

/* BAGIAN SATU */

#bagian-satu {
  background-image: url(img/bagian-satu.jpg);
  background-attachment: fixed;
  background-size: auto;
  background-position: center;
}

#bagian-satu h1 {
  font-family: 'Padauk', sans-serif;
  font-size: 35px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

#bagian-satu p {
  text-transform: capitalize;
  font-family: 'Padauk', sans-serif;
  font-size: 15px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

#bagian-satu img {
  border-radius: 50%;
  height: 250px;
  margin-bottom: 100px;
}

/* AKHIR BAGIAN SATU */

/* ========================= */
/* ========================= */

/* BAGIAN DUA */

#bagian-dua {
  background-color: tomato;
}

#bagian-dua h1 {
  font-family: 'Padauk', sans-serif;
  font-size: 30px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  margin-top: 100px;
}

#bagian-dua p {
  text-transform: capitalize;
  font-family: 'Padauk', sans-serif;
  font-size: 15px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

#bagian-dua img {
  margin-bottom: 10px;
  margin-top: 10px;
  height: 190px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
}

/* AKHIR BAGIAN DUA */

/* ========================= */
/* ========================= */

/* BAGIAN TIGA */

#bagian-tiga {
  background-color: tomato;
}

#bagian-tiga h1 {
  font-family: 'Padauk', sans-serif;
  font-size: 30px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  margin-top: 100px;
}

#bagian-tiga p {
  text-align: justify;
  text-transform: capitalize;
  font-family: 'Padauk', sans-serif;
  font-size: 15px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

#bagian-tiga img {
  margin-bottom: 10px;
  margin-top: 10px;
  height: 100px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

/* AKHIR BAGIAN TIGA */

/* ========================= */
/* ========================= */

/* BAGIAN EMPAT */

#bagian-empat {
  background-color: tomato;
}

#bagian-empat h1 {
  font-family: 'Padauk', sans-serif;
  font-size: 30px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  margin-top: 100px;
}

#bagian-empat p {
  text-transform: capitalize;
  font-family: 'Padauk', sans-serif;
  font-size: 15px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

/* AKHIR BAGIAN EMPAT */

/* ========================= */
/* ========================= */

/* BAGIAN LIMA */

#bagian-lima {
  background-color: orangered;
}

#bagian-lima h1 {
  font-family: 'Padauk', sans-serif;
  font-size: 30px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  margin-top: 100px;
}

#bagian-lima p {
  text-transform: capitalize;
  font-family: 'Padauk', sans-serif;
  font-size: 15px;
  color: white;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

@media (min-width: 992px) {
  /* BAGIAN-NAVBAR */

  .navbar {
    background-image: url(img/navbar.jpg);
    background-size: cover;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  }

  .navbar-brand {
    font-family: 'Padauk', sans-serif;
    font-size: 30px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    color: white !important;
  }

  .nav-link {
    font-family: 'Padauk', sans-serif;
    font-size: 18px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    color: white !important;
  }

  .container-fluid img {
    border-radius: 50%;
    height: 70px;
    margin-right: 10px;
  }

  /* AKHIR BAGIAN NAVBAR */

  /* ========================= */
  /* ========================= */

  /* BAGIAN SATU */

  #bagian-satu {
    background-image: url(img/bagian-satu.jpg);
    background-attachment: fixed;
    background-size: cover;
  }

  #bagian-satu h1 {
    font-family: 'Padauk', sans-serif;
    font-size: 60px;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  }

  #bagian-satu p {
    margin-bottom: 50px;
    text-transform: capitalize;
    font-family: 'Padauk', sans-serif;
    font-weight: 100;
    font-size: 23px;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  }

  #bagian-satu img {
    margin-bottom: 100px;
    border-radius: 50%;
    height: 250px;
  }

  /* AKHIR BAGIAN SATU */

  /* ========================= */
  /* ========================= */

  /* BAGIAN DUA */

  #bagian-dua {
    background-color: orangered;
  }

  #bagian-dua h1 {
    font-family: 'Padauk', sans-serif;
    font-size: 40px;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    margin-top: 100px;
  }

  #bagian-dua p {
    text-align: justify;
    text-transform: capitalize;
    font-family: 'Padauk', sans-serif;
    font-size: 21px;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  }

  #bagian-dua img {
    margin-top: 10px;
    height: 300px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
  }

  /* AKHIR BAGIAN DUA */

  /* ========================= */
  /* ========================= */

  /* BAGIAN TIGA */

  #bagian-tiga {
    background-color: orangered;
  }

  #bagian-tiga h1 {
    font-family: 'Padauk', sans-serif;
    font-size: 40px;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    margin-top: 100px;
  }

  #bagian-tiga p {
    text-align: justify;
    text-transform: capitalize;
    font-family: 'Padauk', sans-serif;
    font-size: 21px;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  }

  #bagian-tiga img {
    margin-bottom: 10px;
    margin-top: 10px;
    height: 350px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  }

  /* AKHIR BAGIAN TIGA */

  /* ========================= */
  /* ========================= */

  /* BAGIAN EMPAT */

  #bagian-empat {
    background-color: orangered;
  }

  #bagian-empat h1 {
    font-family: 'Padauk', sans-serif;
    font-size: 40px;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    margin-top: 100px;
  }

  #bagian-empat p {
    text-transform: capitalize;
    font-family: 'Padauk', sans-serif;
    font-size: 21px;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  }

  /* AKHIR BAGIAN EMPAT */

  /* ========================= */
  /* ========================= */

  /* BAGIAN LIMA */

  #bagian-lima {
    background-color: orangered;
  }

  #bagian-lima h1 {
    font-family: 'Padauk', sans-serif;
    font-size: 40px;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    margin-top: 100px;
  }

  #bagian-lima p {
    text-transform: capitalize;
    font-family: 'Padauk', sans-serif;
    font-size: 21px;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  }
}
